.fitted {	
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}
.fullscreen
{
	height: 700px;
}
.bgGreen 
{
    -webkit-box-reflect: below -90px;
}
xion{
	font-family: "Lucida Calligraphy";
	margin-left: 50px;
}

.nav12{
	background-color:black;
	opacity: 0.3;
	position: fixed;z-index: 10;
	
}

.container
{
	width: 400px;
    margin: 0 auto;
	color: skyblue;
	text-align: center;
}
.containerCarousel
{
	width: 800px;
    margin: 0 auto;
	text-align: center;
}
.containerAll
{
	width: 1200px;
    margin: 0 auto;
	text-align: center;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}